<%-include("../includes/header.ejs")%>
<section class="mb-5">
    <div class="container rounded-5 shadow" style="background-color: #f3f4f6;">
        <div class="row pt-5 pb-5">
            <h2 class="text-center">Feel free to Contact Us!</h2>
            <div class="col-sm-12 d-flex justify-content-center">
                <img src="img/aboutme.png" class="img-fluid" height="150px" width="150px" />
            </div>
            <div class="col-sm-12 d-flex justify-content-center">
                <div class="col-sm-3 d-flex justify-content-around">
                    <a href="https://telegram.me/rrsimtclasses" class="me-3" target="_blank"><i class="fa-brands fa-telegram fs-2 commoncolor"></i></a>
                    <a href="https://www.youtube.com/@rrsimtclasses" class="me-3" target="_blank" ><i class="fa-brands fa-youtube fs-2 commoncolor"></i></a>
                    <a href="https://chat.whatsapp.com/ErWX471sOH1GQ8C1Wl6Pb3" target="_blank"><i class="fa-brands fa-whatsapp fs-2 commoncolor"></i></a>
                </div>
            </div>
            <div class="col-sm-12 d-flex justify-content-center mt-2">
                <p>Email : infoarmanali73@gmail.com</p>
            </div>
                    
                

            
        </div>
    </div>
</section>
<%-include("../includes/footer.ejs")%>

