<%- include("../includes/header.ejs")%>
<section class="mb-4">
    <div class="container">
        <div class="row">
            <% if(successMsg && successMsg.length){%>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                   <%=successMsg%>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <%}%>
            <% if(errorMsg && errorMsg.length){%>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                   <%=errorMsg%>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <%}%>
            <div class="col-sm-6">
                <img src="img/admin.png" class="img-fluid"/>
            </div>
            <div class="col-sm-6 my-auto shadow p-4 rounded">
                <h3>Login to Admin Panel</h3>
                <form class="row g-3" method="post" action="/admin-login">
                    <div class="col-md-12">
                        <label for="validationCustomUsername" class="form-label">Admin Username</label>
                        <div class="input-group has-validation">
                          <span class="input-group-text" id="inputGroupPrepend">@</span>
                          <input type="text" name="username" class="form-control" placeholder="Enter Username" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                        </div>
                      </div>
                    <div class="col-md-12">
                      <label for="inputPassword4" class="form-label">Password</label>
                      <input type="password" name="password" placeholder="Create a Password" required class="form-control" id="inputPassword4">
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                      <button type="submit" class="mybtn text-light p-2 rounded-2 border border-0 w-100">Login as Admin</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</section>
<%- include("../includes/footer.ejs")%>