<%- include("../includes/adminheader.ejs")%>
<section>
    <div class="container">
        <div class="row">
            <% if(successMsg && successMsg.length){%>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                   <%=successMsg%>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <%}%>

            <h1 class="text-center">Welcome to admin panel</h1>
            <div class="col-sm-12">
                <img src="img/adminbg.png" alt="img-fluid" height="100%" width="100%">
            </div>
        </div>
    </div>
</section>