<!-- Footer Start -->
<section>
  <div class="container">
    <div class="row d-flex justify-content-around">
      <div class="col-sm-7 d-flex">
          <img src="/img/aboutme.png" class="img-fluid" height="60px" width="60px"/>
          <p class="my-auto">&nbsp;Copyright &copy; 2024 by ArmanAli</p>
      </div>
      <div class="col-sm-5 d-flex justify-content-center my-auto">
        <h5 class="me-2 my-auto">Follow <span class="commoncolor">Us on :</span></h5>
        <a href="https://telegram.me/rrsimtclasses" target="_blank"><i class="fa-brands fa-telegram fs-2 me-3 commoncolor"></i></a>
        <a href="https://www.youtube.com/@rrsimtclasses" target="_blank"><i class="fa-brands fa-youtube fs-2 me-3 commoncolor"></i></a>
        <a href="https://chat.whatsapp.com/ErWX471sOH1GQ8C1Wl6Pb3" target="_blank"><i class="fa-brands fa-whatsapp fs-2 commoncolor"></i></a>
      </div>
    </div>
  </div>
</section>
<!-- Footer End  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.js" integrity="sha512-tQQXRDB2wEmuJGtFrmmoFYzNTq8StA1XJrfO0OQbbTxd9G0CwaTDL6/C1y805IlvBVrMwOqob1kf6r/2U5XXVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script>
    var splide = new Splide( '.splide' );
    splide.mount();
</script>
</body>
</html>