*{
    font-family: "Poppins", serif;
    font-style: normal;
}
.commoncolor {
    color: #7e22ce;
}
.commoncolor:hover{
    color: #7e22ce;
}
.mybtn{
    background-color: #7e22ce;
    text-decoration: none;
}
.textunderline{
    text-decoration: none;
}
.textunderline:hover{
    text-decoration: underline 3px #7e22ce;
}
.subjectTitle{
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: rgb(248, 245, 245);
}
::-webkit-scrollbar-thumb{
    background-color: lightgray;
    border-radius: 20px;
}
/* General Dark Mode Styles */
body.dark-mode {
    background-color: #121212; /* Dark background for the body */
    color: #ffffff; /* Light text color */
  }
.card.dark-mode{
    background-color: black;
    color: white;
}
.navSection.dark-mode{
    background-color: black;
    color: white;
}
.comment{
    height: 200px;
    width: 200px;
    /* border: 1px solid black; */
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
}