<%- include("../includes/header.ejs")%>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <img src="img/login.png" class="img-fluid" />
            </div>
            <div class="col-sm-7 my-auto p-3 shadow rounded">
                <% if(successMsg && successMsg.length){%>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                   <%=successMsg%>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <%}%>
                <% if(errorMsg && errorMsg.length){%>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                       <%=errorMsg%>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <%}%>
                <h2>Login to your Account</h2>
                <form class="row g-3" method="post">
                    <div class="col-md-12">
                      <label for="inputEmail4" class="form-label">Username</label>
                      <input type="text" name="username" placeholder="Enter Username" required class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-12">
                      <label for="inputPassword4" class="form-label">Password</label>
                      <input type="password" name="password" placeholder="Enter your Password" required class="form-control" id="inputPassword4">
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                      <button type="submit" class="mybtn text-light p-2 rounded-2 border border-0 w-100">Login</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</section>
<%- include("../includes/footer.ejs")%>