<%- include("../includes/header.ejs")%>
<section class="mb-3">
  <div class="container">
    <div class="row">
      <% if(successMsg && successMsg.length){%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
           <%=successMsg%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <%}%>
        <% if(errorMsg && errorMsg.length){%>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
               <%=errorMsg%>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <%}%>
      <h2 class="text-center"><b>Download Notes By Arman Ali</b></h2>
      <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
        <div class="col">
          <div class="card h-100 border border-0 shadow rounded-5">
            <img src="img/dbms notes.jpg" class="card-img-top p-3 rounded-5" alt="dbmsnotes">
            <div class="card-body align-content-center">
              <h5 class="card-title">DBMS Notes</h5>
              <p class="card-text">Download Notes Here.</p>
              <a href="#" class="text-white ps-3 pe-3 pt-2 pb-2 rounded-5 mybtn" data-bs-toggle="modal" data-bs-target="#modalDBMS">Download Now</a>
            </div>
          </div>
          
        </div>
        <div class="col">
          <div class="card h-100 border border-0 shadow rounded-5">
            <img src="img/cgnotes.jpg" class="card-img-top p-3 rounded-5" alt="cgnotes">
            <div class="card-body">
              <h5 class="card-title">Computer Graphics Notes</h5>
              <p class="card-text">Download Notes Here.</p>
              <a href="#" class="text-white ps-3 pe-3 pt-2 pb-2 rounded-5 mybtn" data-bs-toggle="modal" data-bs-target="#modalCG">Download Now</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border border-0 shadow rounded-5">
            <img src="img/cyber.jpg" class="card-img-top p-3 rounded-5" alt="cybersecuritynotes">
            <div class="card-body">
              <h5 class="card-title">Cyber Security Notes</h5>
              <p class="card-text">Download Notes Here.</p>
              <a href="#" class="text-white ps-3 pe-3 pt-2 pb-2 rounded-5 mybtn" data-bs-toggle="modal" data-bs-target="#modalCS">Download Now</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border border-0 shadow rounded-5">
            <img src="img/digitalelectronic.jpg" class="card-img-top p-3 rounded-5" alt="digitalelectronicnotes">
            <div class="card-body">
              <h5 class="card-title">Digital electronic Notes</h5>
              <p class="card-text">Download Notes Here.</p>
              <a href="#" class="text-white ps-3 pe-3 pt-2 pb-2 rounded-5 mybtn" data-bs-toggle="modal" data-bs-target="#modalDE">Download Now</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border border-0 shadow rounded-5">
            <img src="img/oops.jpg" class="card-img-top p-3 rounded-5" alt="javanotes">
            <div class="card-body">
              <h5 class="card-title">OOPS With Java Notes</h5>
              <p class="card-text">Download Notes Here.</p>
              <a href="#" class="text-white ps-3 pe-3 pt-2 pb-2 rounded-5 mybtn" data-bs-toggle="modal" data-bs-target="#modalOOPS">Download Now</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border border-0 shadow rounded-5">
            <img src="img/os.jpg" class="card-img-top p-3 rounded-5" alt="osnotes">
            <div class="card-body">
              <h5 class="card-title">Operating System Notes</h5>
              <p class="card-text">Download Notes Here.</p>
              <a href="#" class="text-white ps-3 pe-3 pt-2 pb-2 rounded-5 mybtn" data-bs-toggle="modal" data-bs-target="#modalOS">Download Now</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border border-0 shadow rounded-5">
            <img src="img/python.jpg" class="card-img-top p-3 rounded-5" alt="pythonnotes">
            <div class="card-body">
              <h5 class="card-title">Python Programming Notes</h5>
              <p class="card-text">Download Notes Here.</p>
              <a href="#" class="text-white ps-3 pe-3 pt-2 pb-2 rounded-5 mybtn" data-bs-toggle="modal" data-bs-target="#modalPP">Download Now</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border border-0 shadow rounded-5">
            <img src="img/tc.jpg" class="card-img-top p-3 rounded-5" alt="tcnotes">
            <div class="card-body">
              <h5 class="card-title">Technical Communication Notes</h5>
              <p class="card-text">Download Notes Here.</p>
              <a href="#" class="text-white ps-3 pe-3 pt-2 pb-2 rounded-5 mybtn" data-bs-toggle="modal" data-bs-target="#modalTC">Download Now</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border border-0 shadow rounded-5">
            <img src="img/uhv.jpg" class="card-img-top p-3 rounded-5" alt="uhvnotes">
            <div class="card-body">
              <h5 class="card-title">UHV Notes</h5>
              <p class="card-text">Download Notes Here.</p>
              <a href="#" class="text-white ps-3 pe-3 pt-2 pb-2 rounded-5 mybtn" data-bs-toggle="modal" data-bs-target="#modalUHV">Download Now</a>
            </div>
          </div>
        </div>
      </div>

          <!-- Modals -->
    <!-- DBMS Modal -->
    <div class="modal fade" id="modalDBMS"  tabindex="-1" aria-labelledby="modalDBMSLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content card">
          <div class="modal-header">
            <h5 class="modal-title" id="modalDBMSLabel">Download DBMS Notes</h5>
            <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex justify-content-between">
            Unit - 1 Introduction
            <a href="https://drive.google.com/file/d/1aUzChh8d9iLV_GgsRn3uLvQ2GF-NhM5_/view?usp=drive_link" target="_blank" class="btn btn-success">Download</a>
          </div>
          <div class="modal-body d-flex justify-content-between">
            Unit - 2 Relational data Model and Language
            <a href="https://drive.google.com/file/d/1BmjPwAQ0yGLXkjYGlrKAO6RtJ4_GS06J/view?usp=drive_link" target="_blank" class="btn btn-success">Download</a>
          </div>
          <div class="modal-body d-flex justify-content-between">
            Unit - 3 Data Base Design & Normalization
            <a href="https://drive.google.com/file/d/1tguZMyyD2c0OJNbRgA3ohviqhAhCFWUF/view?usp=drive_link" target="_blank" class="btn btn-success">Download</a>
          </div>
          <div class="modal-body d-flex justify-content-between">
            Unit - 4 Transaction Processing Concept
            <a href="https://drive.google.com/file/d/1-zkjBvFNy8L6bQ1JR7f7Q2YjTkKS98_Z/view?usp=drive_link" target="_blank" class="btn btn-success">Download</a>
          </div>
          <div class="modal-body d-flex justify-content-between">
            Unit - 5 Concurrency Control Techniques
            <a target="_blank" href="https://drive.google.com/file/d/14EQsuThKjfIHL8Ug-sn7lUi6hODMuLDJ/view?usp=sharing" class="btn btn-success">Download</a>
          </div>
          <div class="modal-body d-flex justify-content-between">
            All Unit V.IMP Questions
            <a href="https://drive.google.com/file/d/1B8eO8dxR6LA0SDIQsKZ4r67r0ArCyE2t/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
          </div>
        </div>
      </div>
    </div>
            <!-- Computer Graphics Modal -->
        <div class="modal fade" id="modalCG" tabindex="-1" aria-labelledby="modalCGLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content card">
              <div class="modal-header">
                <h5 class="modal-title" id="modalCGLabel">Download Computer Graphics Notes</h5>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="modal-body d-flex justify-content-between">
                  Unit - 1 Introduction and Line Generation
                  <a href="https://drive.google.com/file/d/1J_2rGdM1MFnwkahl9U2Y8_RsVRp08yI2/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 2 Transformations & Windowing,Clipping
                  <a href="https://drive.google.com/file/d/1Mo0tm5wbFmtI7DZmUJqRmOI9Y8NdbKuM/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 3 Three Dimensional
                  <a href="https://drive.google.com/file/d/1EmKCvb-MhiMV_hHD9iRbFDFYjpiRHLJN/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 4 Curves & Surfaces
                  <a href="https://drive.google.com/file/d/1ewMVaVqJNAwCqQJFWbM-iJGfHNerfiv5/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 5 Hidden Lines & Surfaces
                  <a href="#" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  All Unit V.IMP Questions.
                  <a href="https://drive.google.com/file/d/1m-QrJL7kMftEoKMa20a2zTe2CseLiTMi/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Cyber Security Modal -->
        <div class="modal fade" id="modalCS" tabindex="-1" aria-labelledby="modalCGLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content card">
              <div class="modal-header">
                <h5 class="modal-title" id="modalCSLabel">Cyber Security</h5>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="modal-body d-flex justify-content-between">
                  Unit - 1 Introduction
                  <a href="https://drive.google.com/file/d/1Jg50rjEJqgLcW5fv0BogNFu8Lc8mooco/view?usp=drivesdk" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 2 Cyber Crime
                  <a href="https://drive.google.com/file/d/1KqMqMIZqqqCk8FiTgOzy0ZqINTPEKO1N/view" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 3 Tools & Methods Used in Cyber Crime
                  <a href="https://drive.google.com/file/d/1JbgKyGB5E8o-tFy-ggJ30Fq3IIbRaaBX/view" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 4 Understanding Computer Forensic
                  <a href="https://drive.google.com/file/d/1JZwzQzDfYOePrmXZW9DVYeK71swMmqPF/view" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 5 Laws & Acts
                  <a href="https://drive.google.com/file/d/1JYZkYrfl5fL0U9KMCFc-6JObgbp7qWoV/view" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  All Unit V.IMP Questions.
                  <a href="https://drive.google.com/file/d/1LCrhwr2XrpbyynS4b7yG942L0paDXMN3/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Digital Electrnic Modal -->
        <div class="modal fade" id="modalDE" tabindex="-1" aria-labelledby="modalCGLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content card">
              <div class="modal-header">
                <h5 class="modal-title" id="modalDELabel">Digital Electronics</h5>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="modal-body d-flex justify-content-between">
                  Unit - 1 Digital binary System 
                  <a href="https://drive.google.com/file/d/12mpy-b7ia_MbFNo_LBc_HKRE7zzUq-NP/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 2 Combination Logic
                  <a href="https://drive.google.com/file/d/10YMcioaCZ0CeHlaazB5_HPGox92SEWY1/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 3 Sequential Circuit
                  <a href="https://drive.google.com/file/d/1IO5EgHdQvsWbMSlMQi8bJFjvpbY54mdg/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 5 Digital Logic Families
                  <a href="https://drive.google.com/file/d/1Al7_ly-RrVU01WkkYrl8UYxjrJWXPZfC/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  All Unit V.IMP Questions.
                  <a href="https://drive.google.com/file/d/1nTIiVB9PkmcjWvf9vEg5ar8WzBDYNiDm/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--OOPS With java Modal -->
        <div class="modal fade" id="modalOOPS" tabindex="-1" aria-labelledby="modalCGLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content card">
              <div class="modal-header">
                <h5 class="modal-title" id="modalOOPSLabel">OOPS With java</h5>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="modal-body d-flex justify-content-between">
                  Unit - 1 Introduction
                  <a href="https://drive.google.com/file/d/1xN7la-FQmdZYTENzAPc_nrXFeHOrG-5U/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 2 Exception Handling,I/O Basics
                  <a href="https://drive.google.com/file/d/1f5XPmV2feUoN2JcGW50gozBeozMEuE8R/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 3 Java New Features
                  <a href="https://drive.google.com/file/d/1qelI8Pjww_UxvSVKCYLODg5iicgPlouw/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 4 Java Collection Framework
                  <a href="https://drive.google.com/file/d/1JFsE2Wkf9i1TqmYWWec88SfzRJz0_hbs/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 5 Spring & Spring Boot
                  <a href="https://drive.google.com/file/d/1yGrcpq_WzEDI-IAkTTesSKHwfl4jWSIu/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  All Unit V.IMP Questions.
                  <a href="https://drive.google.com/file/d/14H4taQ3eZr0V_4iiBE1yNEw2jdHN96la/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Operating System Modal -->
        <div class="modal fade" id="modalOS" tabindex="-1" aria-labelledby="modalCGLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content card">
              <div class="modal-header">
                <h5 class="modal-title" id="modalOSLabel">Operating System</h5>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="modal-body d-flex justify-content-between">
                  Unit - 1 Introduction
                  <a href="https://drive.google.com/file/d/1UEsXKS746UZKsDjfAEDRNm3Q_bvQmN8q/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 2 Concurrent Process
                  <a href="https://drive.google.com/file/d/1faN1m7SSeSCi5-G6LW3wIHEvGfAQSNfQ/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 3 CPU Scheduling
                  <a href="https://drive.google.com/file/d/1EHegQqoFd3F51nsla1_7A2cGOZ2R0lgt/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 4 Memory Management
                  <a href="https://drive.google.com/file/d/1CTXKDz0XSSC6LG_a9VqK4UaBh3xIMmmj/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 5 I/O Management & Disk Scheduling
                  <a href="https://drive.google.com/file/d/1aVG5pM6cne1Hx_kEiyMyhzvm3FbklVIq/view?usp=sharing" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  All Unit V.IMP Questions.
                  <a href="https://drive.google.com/file/d/1UAAuXt9nJHQOJbsljPKCimNEv2oyLT7M/view?usp=drive_link" target="_blank" class="btn btn-success">Download</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Python Programming Modal -->
        <div class="modal fade" id="modalPP" tabindex="-1" aria-labelledby="modalCGLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content card">
              <div class="modal-header">
                <h5 class="modal-title" id="modalPPLabel">Python Programming</h5>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="modal-body d-flex justify-content-between">
                  Unit - 1 Introduction
                  <a href="https://drive.google.com/file/d/1s8MaVd5d8lGJIAcP9AeTiIzvfjlZ2g5_/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 2 Conditional & Control Flow Statements
                  <a href="https://drive.google.com/file/d/1eelcz03nJWXgqNR_PCJzWG_sRnApQjJO/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 3 Python Complex Datatype
                  <a href="https://drive.google.com/file/d/1bhyNj-dvySqZLIyj6s4zQmsGWVQL8-qW/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 4 Python File Operation
                  <a href="https://drive.google.com/file/d/1FYP1PjYaq42dLRCtEkLCgxe8zlXEBWq1/view?usp=drive_link" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 5 Python Packages
                  <a href="https://drive.google.com/file/d/1fXDE6PJyyOterQtsdA0BlBdsxaCi46-2/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  All Unit V.IMP Questions.
                  <a href="https://drive.google.com/file/d/1GSniPJsleXNaB8nZZ9NipwsPLjm3Z21E/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--technical communication Modal -->
        <div class="modal fade" id="modalTC" tabindex="-1" aria-labelledby="modalCGLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content card">
              <div class="modal-header">
                <h5 class="modal-title" id="modalTCLabel">Technical Communication Notes</h5>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Download Unit 1 to Unit 5 Technical Communication Notes.
                <a href="https://drive.google.com/file/d/1mBSb-GMC39biMOGJ4JGzeXvimsAUxvBO/view?usp=sharing" target="_blank" class="btn btn-success mt-3" download>Download</a>
              </div>
            </div>
          </div>
        </div>
         <!--UHV Modal -->
         <div class="modal fade" id="modalUHV" tabindex="-1" aria-labelledby="modalCGLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content card">
              <div class="modal-header">
                <h5 class="modal-title" id="modalUHVLabel">UHV</h5>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="modal-body d-flex justify-content-between">
                  Unit - 1 Introduction to Value Education
                  <a href="https://drive.google.com/file/d/1SRhnzKBCcofa2Zc8MXzzrhfOhX3Z24Uz/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 2 Understanding harmony in Human Being
                  <a href="https://drive.google.com/file/d/1HQzdgAASeA0svf0rIo1_x3j1_x-ALm8n/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 3 Understanding harmony in Family & Society
                  <a href="https://drive.google.com/file/d/1jZ6sNgxgDvyyoX7uaYApPdEVTntrD-EE/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 4 Understanding harmony in Nature
                  <a href="https://drive.google.com/file/d/1RNvsteEnmpun5pdQFRASLbovKN6wMZkW/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
                <div class="modal-body d-flex justify-content-between">
                  Unit - 5 Professional Ethics
                  <a href="https://drive.google.com/file/d/1HBh1R86FtUoiqeEHoSuOW1XkpT-O-g6Y/view?usp=sharing" target="_blank" class="btn btn-success">Download</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<%-include("../includes/footer.ejs")%>