<%- include("../includes/header.ejs")%>
        <!--Intro page start-->
        <section>
          <div class="container">
              <!-- top navbar start  -->
              <% if(successMsg && successMsg.length){%>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                   <%=successMsg%>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <%}%>
                <% if(errorMsg && errorMsg.length){%>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                       <%=errorMsg%>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <%}%>
                <!-- navbar end  -->
              <div class="row mt-5">
                <marquee onmouseenter="stop()" onmouseout="start()"><img src="img/circle red.png" class="img-fluid me-2" height="20px" width="20px"/>Our website is under maintenance to serve you better. Stay tuned! Some feature may not work properly.</marquee>
                  <!-- Left section Description start -->
                  <div class="col-sm-8 mt-3" data-aos="fade-right">
                      <h2>Hi, Welcome To</h2>
                      <h1 class="fw-bolder">EduShine Classes</h1>
                      <h1>You can Download <b class="commoncolor auto-typing"></b></h1>
                      <p>EduShine Classes is a dedicated platform where learning meets simplicity. Born out of the vision to support thousands of students, we aim to provide easy access to AKTU notes for all semesters and branches. Our mission is to save your time, keep you focused, and help you achieve academic excellence without any hassle.</p>
                      <div class="col-4">
                          <div class="social-icon d-flex mb-2">
                              <div class="socialicon me-2">
                                  <a href="https://www.youtube.com/@rrsimtclasses" target="_blank" ><i class="fa-brands fa-youtube fs-2 commoncolor"></i></a>
                              </div>
                              <div class="socialicon me-2">
                                  <a href="https://telegram.me/rrsimtclasses" target="_blank"><i class="fa-brands fa-telegram fs-2 commoncolor"></i></a>
                              </div>
                              <div class="socialicon">
                                  <a href="https://chat.whatsapp.com/ErWX471sOH1GQ8C1Wl6Pb3" target="_blank"><i class="fa-brands fa-whatsapp fs-2 commoncolor"></i></a>
                              </div>
                          </div>
                          <a href="https://www.youtube.com/@rrsimtclasses" target="_blank" class="nav-link rounded-2 mybtn text-light text-center">Visit Our Channel</a>
                          
                      </div>
                  </div>
                  <!-- left section description end -->
                  <!-- right section photo start -->
                  <div class="col-sm-4">
                    <img src="img/channellogo.png" alt="websitelogo" class="img-fluid"/>
                  </div>
                  <!-- right section end -->
              </div>
                <hr>
          </div>
      </section>
      <!--Intro page end -->
      <!-- Popular Videos Section Start -->
      <section>
          <div class="container">
              <h2 class="text-center">Popular <span class="commoncolor">Videos</span></h2>
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card h-100 border border-0 shadow rounded-5">
                      <img src="img/cg.jpg" class="card-img-top p-3 rounded-5" alt="computer graphics">
                      <div class="card-body">
                        <h5 class="card-title">Computer Graphics Playlist (BCS053)</h5>
                        <p class="card-text">Introduction and Line Generation,Transformations....</p>
                        <a href="/videos/computer-graphics/unit-1" class="rounded-pill border border-0 text-light p-2 mybtn">Watch Now</a>
                      </div>
                      
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100 border border-0 shadow rounded-5">
                      <img src="img/dbms.jpg" class="card-img-top p-3 rounded-5" alt="dbms">
                      <div class="card-body">
                        <h5 class="card-title">Database Management System Playlist (BCS501)</h5>
                        <p class="card-text">Introduction,RDBMS, Normalization,Transaction,Concurrency..</p>
                        <a href="/videos/Database-Management-System/unit-1" class="rounded-pill border border-0 text-light p-2 mybtn">Watch Now</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h- border border-0 shadow rounded-5">
                      <img src="img/cyber u1.jpg" class="card-img-top p-3 rounded-5" alt="Cyber Security">
                      <div class="card-body">
                        <h5 class="card-title">Cyber Security Playlist (BCC301/BCC401)</h5>
                        <p class="card-text">In this Playlist we have complete all the syllabus of aktu..</p>
                        <a href="/videos/cyber-security/unit-1" class="rounded-pill border border-0 text-light p-2 mybtn">Watch Now</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100 border border-0 shadow rounded-5">
                      <img src="img/oops with java.jpg" class="card-img-top p-3 rounded-5" alt="oopswithjava">
                      <div class="card-body">
                        <h5 class="card-title">OOPS With Java Playlist (BCS403)</h5>
                        <p class="card-text">In this Playlist you can learn all core concept of java as well as advanced topic Spring, Spring Boot...</p>
                        <a href="/videos/oops-with-java/unit-1" class="rounded-pill border border-0 text-light p-2 mybtn">Watch Now</a>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                      <div class="card h-100 border border-0 shadow rounded-5">
                        <img src="img/os u1.jpg" class="card-img-top p-3 rounded-5" alt="Operating System">
                        <div class="card-body">
                          <h5 class="card-title">Operating System Playlist (BCS401)</h5>
                          <p class="card-text">In this Playlist you can learn all basic and advanced topic of Operating System As per Aktu Syllabus...</p>
                          <a href="/videos/operating-system/unit-1" class="rounded-pill border border-0 text-light p-2 mybtn">Watch Now</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100 border border-0 shadow rounded-5">
                        <img src="img/python u1.jpg" class="card-img-top p-3 rounded-5" alt="Python Programming">
                        <div class="card-body">
                          <h5 class="card-title">Python Programming Playlist (BCC302/BCC402)</h5>
                          <p class="card-text">In this Playlist you can learn all core concept of python programming as well as per aktu syllabus.</p>
                          <a href="/videos/python-programming/unit-1" class="rounded-pill border border-0 text-light p-2 mybtn">Watch Now</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100 border border-0 shadow rounded-5">
                        <img src="img/uhv u1.jpg" class="card-img-top p-3 rounded-5" alt="Universal Human Value">
                        <div class="card-body">
                          <h5 class="card-title">Universal Human Value (BVE301/BVE302)</h5>
                          <p class="card-text">In this Playlist you can learn all core concept of python programming as well as per aktu syllabus.</p>
                          <a href="/videos/universal-human-value/unit-1" class="rounded-pill border border-0 text-light p-2 mybtn">Watch Now</a>
                        </div>
                      </div>
                    </div>
                </div>
          </div>
      </section>
      <!-- Popular Videos Section End -->
      <hr/>
      <!-- Students Feedback Start -->
      <section>
          <div class="container">
              <h2 class="text-center">Feedback From <span class="commoncolor">Our Students</span></h2>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="splide">
                          <div class="splide__track">
                              <div class="splide__list">
                                  <div class="splide__slide">
                                      <div class="d-flex justify-content-center">
                                          <img src="img/feedback1.jpg" class="img-fluid" alt="feedback1"/>
                                      </div>
                                  </div>
                                  <div class="splide__slide">
                                      <div class="d-flex justify-content-center">
                                          <img src="img/feedback2.jpg" class="img-fluid" alt="feedback2"/>
                                      </div>
                                  </div>
                                  <div class="splide__slide">
                                      <div class="d-flex justify-content-center">
                                          <img src="img/feedback3.jpg" class="img-fluid" alt="feedback3"/>
                                      </div>
                                  </div>
                                  <div class="splide__slide">
                                      <div class="d-flex justify-content-center">
                                          <img src="img/feedback4.jpg" class="img-fluid" alt="feedback4"/>
                                      </div>
                                  </div>
                                  <div class="splide__slide">
                                      <div class="d-flex justify-content-center">
                                          <img src="img/feedback5.jpg" class="img-fluid" alt="feedback4"/>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- Stduents Feedback End -->
      <hr/>
      <%- include("../includes/footer.ejs")%>
</body>